# Canvas Study Buddy Configuratie
# Vul je Canvas API token in (Canvas > Account > Instellingen > Nieuwe toegangstoken)
CANVAS_API_TOKEN=your_canvas_api_token_here
# Vul de URL van je Canvas instelling in
CANVAS_BASE_URL=https://fhict.instructure.com
